@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontFamilyDefault);
    color: var(--textColorDarkTheme);
}

:root {
    /* Theme Dark */
    --backgroundDarkTheme: #090909;
    --layerDarkTheme: #0B0B0B;
    --borderDarkTheme: #1C1C1C;
    --textColorDarkTheme: #8A8A8A;

    /* Theme Light */
    --backgroundLightTheme: #fff;
    --layerLightTheme: #fff;

    /* Default */
    --navbarFontSize: 16px;
    --titleOverview: 40px;
    --subtitleOverview: 20px;
    --fontFamilyDefault: 'Inter';
}

.bg{
    background-color: var(--backgroundDarkTheme);
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
}
.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
    background-color: var(--layerDarkTheme);
    margin: 0px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
    height: 7vh;
    border: 1px solid var(--borderDarkTheme);
    border-radius: 5px;

}
.header-nav-title{
    font-size: 16px;
    font-weight: bold;
}